.wrapper {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-right: auto;
  margin-left: auto;
}

.block {
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}

.heading {
  font-size: 16px;
  margin-bottom: 15px;
}

.element {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  background-color: #fff;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
}

.btn:hover,
.btn:focus {
  background-color: red;
  color: #fff;
}

.list {
  list-style: none;
}

.list-item {
}
